<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260226399516-raocv3nt1v39cvnu0eqohqu01vk9set5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260226399516-raocv3nt1v39cvnu0eqohqu01vk9set5</string>
	<key>API_KEY</key>
	<string>AIzaSyB1MJM5bWhkoEVAfZAQC_o-ccbKdJopfYc</string>
	<key>GCM_SENDER_ID</key>
	<string>260226399516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tonypepe.fengchiabi</string>
	<key>PROJECT_ID</key>
	<string>fcupay-454e8</string>
	<key>STORAGE_BUCKET</key>
	<string>fcupay-454e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260226399516:ios:3a648136c9ab0d0b858ed9</string>
</dict>
</plist>